name: Build and publish

# on:
#   push:
#     branches:
#       - master

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.5", "3.6", "3.7", "3.8", "3.9"]
    name: Build with Python ${{ matrix.python-version }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Add MSBuild to PATH
        if: runner.os == 'Windows'
        uses: microsoft/setup-msbuild@v1.0.2
      - name: Install LLVM
        if: runner.os == 'Windows'
        run: choco install -y llvm
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install pip dependencies
        run: |
          python -m pip install --upgrade pip
          pip install maturin
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            override: true
      # - name: Build package
      #   run: |
      #     maturin build --interpreter python${{ matrix.python-version }}
      - name: Build and publish package to PyPi
        run: |
          maturin publish --no-sdist --interpreter python --repository-url https://test.pypi.org/legacy/ -u ${{ secrets.PYPI_USERNAME }} -p ${{ secrets.PYPI_PASSWORD }}
